{% extends 'base.html.twig' %}

{% block title %}
{% block pgTitle %}{% endblock %}
{% endblock %}
{% block links %}


<link rel="stylesheet" href="{{ asset('assets/css/registration.css') }}">
{% endblock %}

{% block body %}
<div id="form-banner">

</div>
<div class="container registration-form-container col-md-10 pb-5">
    <h1 class="text-center mt-5 mb-5 text-white">Inscrivez-vous en quelques minutes !</h1>
    {% block content %}{% endblock %}
</div>
{% endblock %}
{% block basefoot %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tarekraafat-autocomplete.js/10.2.7/autoComplete.min.js"></script>
<script src="{{ asset('assets/js/countries.js') }}"></script>
{% block foot %}{% endblock %}
{% endblock %}