
@media (max-width: 1135px){
    header .menu{
        position: fixed;
        background-color: var(--blue1);
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: -100vw;
        transition: right 0.6s ease;
        z-index: 10000;
    }
    header .menu.active{
        right: 0;
    }
    header .menu .close-btn{
        position: absolute;
        min-width: 0 !important;
        top: 20px;
        left: 20px;
        display: block;
        color: var(--txt-white2) !important;
        font-size: 18px;
    }
    header .menu .nav-btn{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
    header .reg-btn{
        margin-top: -20px;
    }
    .leforum-txt{
        width: 100%;
    }
}

@media (max-width: 839px){
.stand{
    position: absolute;
    width: 504px;
    height: 336px;
    margin-left: 0px;
    margin-top: -30px;
    z-index: -1;
}
.img-stand{
    width: 100%;
}

.parrain, .organisme{
    position: relative;
    margin: 0;
    text-align: center;
    top: 0;
    justify-content: center;
    width: 100%;
}
.o-logo, .p-logo{
    justify-content: center;
    justify-items: center;
}




}
@media (max-width: 700px){

    .leforum-img-2{
        display: block;
        position: absolute;
        width: 35%;
        margin-top: 55%;
        margin-left: 30%;
    }
}