.new-user{
    max-width: 600px;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    padding: 10px;
}
.new-user .top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.new-user .top img{
    width: 100px;
    height: 100px;
    border-radius:50%;
    object-fit: cover;
}
.new-user-table-label{
    font-weight: bold;
}

table td {
    padding-top: 15px; /* Augmente la hauteur des cellules en ajoutant de l'espace au-dessus du contenu */
    padding-bottom: 15px; /* Augmente la hauteur des cellules en ajoutant de l'espace en dessous du contenu */
}
h5{
    color: #254379 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
hr{
    background-color: #c0c0c0;
}